.chat-screen {
  background-color: #abc1d1;
}

.chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

.chat__timestemp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.messege-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.messege-row img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.messege__auther {
  margin-bottom: 10px;
  display: block;
}
.messege__info {
  display: flex;
  align-items: flex-end;
}

.messege__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
}

.messege__auther,
.messege__time {
  opacity: 0.6;
  font-size: 13px;
}

.messege-row--own {
  justify-content: flex-end;
}

.messege-row--own .messege__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.messege-row--own .messege__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  padding-right: 0px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 3px;
  right: -7px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
  font-size: 25px;
}

.reply i {
  opacity: 0.6;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

@keyframes fadeInLeftToRight {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.messege__get {
  animation: fadeInLeftToRight 0.6s linear;
}

@keyframes fadeInRightToLeft {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.messege__send {
  animation: fadeInRightToLeft 0.6s linear;
}
